@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  .prose a {
    @apply cursor-pointer;
  }

  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    @apply border-border;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply border-border bg-muted text-primary;
  }

  [type='checkbox']:focus,
  [type='radio']:focus {
    @apply border-border ring-ring ring-offset-primary;
  }

  .fix {
    -webkit-backface-visibility: hidden !important;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
  }
}
